%h1 Archived Order Details

%p Order Date: #{@archived_order.created_at.strftime('%Y-%m-%d')}
%p Status: #{@archived_order.status}

%h2 Archived Order Products

%table
  %thead
    %tr
      %th Product Title
      %th Product Description
      %th Product Price
      %th Category
      %th Vegetarian

  %tbody
    - @archived_products.each do |archived_product|
      %tr
        %td= archived_product.title
        %td= archived_product.description
        %td= archived_product.price
        %td= archived_product.category
        %td= archived_product.vegetarian
