%h1 Password must have at least 6 characters, 1 digit, 1 lowercase and 1 uppercase
= form_with(model: @user, local: true) do |f|
  = render 'shared/error_messages'
  = f.label :name
  = f.text_field :name, class: 'form-control'
  = f.label :email
  = f.email_field :email, class: 'form-control'
  = f.label :password
  = f.password_field :password, class: 'form-control'
  = f.label :password_confirmation, "Confirmation"
  = f.password_field :password_confirmation, class: 'form-control'
  = f.label :role, "Select Role"
  = f.select :role, User.roles.keys.map { |role| [role.titleize, role] }, {}, class: 'form-control'

  = f.submit "Save Data", class: "btn btn-primary"
