- provide(:title, @user.name)

%h1.center-justify-display
  = gravatar_for @user
  - if @current_user.user?
    #{@user.name}'s Previous Orders: 
  - else
    #{@user.name}'s Profile 
.row.display-user-info
  %aside.col-md-4
    %section.user_info
    - if @current_user && @current_user.id == @user.id 
      - if @current_user.user?
        - if @purchased_orders.present?
          - @purchased_orders.each do |order|
            %p Order Date: #{order.created_at.strftime('%Y-%m-%d')}
            %ul
              - order.order_products.each do |order_product|
                %li= "#{order_product.quantity} X #{order_product.product.title} - Total Price per Dish: $#{order_product.product.price*order_product.quantity}"
            %hr
        - else
          %p No Previous Orders Available.
      - else 
        %p Account Created at: #{current_user.created_at.strftime('%Y-%m-%d')}
        %p Email: #{current_user.email}
      %td= button_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete this user?" }, class: 'btn btn-danger'
    - else
      %p Log in this account to access further information.
