- provide(:title, "My Order")

#site-main
%h1 Your Order

.container-menu
  #site-menu
    #menu
      %ul.product-list
        - @order_products.each do |order_product|
          %li.dish-item
            %div
              %p.text-title= order_product.product.title
              %p.text-description= "Quantity: #{order_product.quantity}"
              %p.text-description.dish-price= "Price per Unit: $#{order_product.product.price}"
              %p.text-price.dish-price= "Total per Dish Type: $#{order_product.product.price*order_product.quantity}"
              - if @order.status == 'cart'
                = button_to 'Remove from Cart', remove_from_order_order_path(@order, order_product.product), method: :delete, data: { confirm: 'Are you sure you want to remove this item from your cart?' }
    %h1     
      .text-total-order
        Total Order:
        = number_to_currency(calculate_order_total(@order), precision: 2, format: '%n') + "$"
        - if @order.status == 'cart' && @order_products.any?
          = link_to "Pay", purchase_order_path(@order), class: "btn btn-primary"
