= javascript_include_tag 'bar_slider'

#site-menu
  #menu
    %ul.product-list
      - @products.each do |product|
        %li.dish-item{ "data-price" => product.price}
          .dish-img
            - if product.image.attached?
              = image_tag url_for(product.image), alt: "Dish image"
            - else
              %img{alt: "Placeholder"}
          %div
            %p.text-title= product.title
            %p.text-description= product.description
            %p.text-price.dish-price= "$#{product.price}"
            