#site-main.home-content.background-image
  .container
    .center.home-content
      %h1.center Ordering Food
      .line-container
        %span.line
        %span.dot
        %span.line
      %h2 Food for the souls
    .bar
      .subnav-bar
        .subnav-menu
          CATEGORY
          %i.fa-solid.fa-angles-right.icon
          .subnav-content
            = link_to 'Entrees', filtered_products_path(category: 'entree')
            = link_to 'Second Course', filtered_products_path(category: 'second_course')
            = link_to 'Salads', filtered_products_path(category: 'salad')
            = link_to 'Pizza', filtered_products_path(category: 'pizza')
            = link_to 'Desserts', filtered_products_path(category: 'dessert')
        .subnav-menu
          SORTING
          %i.fa-solid.fa-angles-right.icon
          .subnav-content
            = link_to 'Price: Ascending Order', sorted_products_path(order: 'asc')
            = link_to 'Price: Descending Order', sorted_products_path(order: 'desc')
        .subnav-menu
          VEGETARIAN
          %i.fa-solid.fa-angles-right.icon
          .subnav-content
            = link_to 'Non-Vegetarian', filtered_products_path(vegetarian: 'non_vegetarian')
            = link_to 'Vegetarian', filtered_products_path(vegetarian: 'vegetarian')
      .price-filter
        %p PRICE:  
        %p#min-slider
        #uislider
        %p#max-slider
- if @current_user && current_user.admin?
  = link_to 'Add New Product', new_admin_product_path, class: 'btn btn-primary'

.container-menu
  #site-menu
    #menu
      %ul.product-list
        - @products.each do |product|
          - unless product.is_archived
            %li.dish-item{ "data-price" => product.price}
              .dish-img
                - if product.image.attached?
                  = image_tag url_for(product.image), alt: "Dish image"
                - else
                  %img{alt: "Placeholder"}
              %div
                %p.text-title= product.title
                %p.text-description= product.description
                %p.text-price.dish-price= "$#{product.price}"
                - if @current_user && @current_user.user?
                  .cart-button
                    = form_with(url: add_to_order_order_path(id: current_user.orders.find_or_create_by(status: :cart).id, product_id: product.id), method: :post) do |f|
                      = f.submit "Add to Cart"
                      %i.fas.fa-cart-plus.icon
                - elsif @current_user && @current_user.admin?
                  = link_to "Edit", edit_admin_product_path(product), class: "btn btn-primary"
                  = link_to 'Delete', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
                -else
                  %p Only logged in users can add to cart.
