= javascript_include_tag 'bar_slider'

%header.navbar.navbar-fixed-top.navbar-inverse.header-background
  .container
    = link_to image_tag("foodielogo.png", alt: "Foodie logo", width: "100"), "/home", id: "logo" 
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "HOME", "/home"
        %li= link_to "ABOUT", "/about"
        %li= link_to "SERVICE", "/service"
        %li= link_to "BLOG", "/blog"
        %li= link_to "CONTACTS", "/contact"
    .center
      %h1.center Ordering Food
      .line-container
        %span.line
        %span.dot
        %span.line
      %h2
        Food for the souls
  #site-main
    .bar
      .subnav-bar
        .subnav-menu
          CATEGORY
          %i.fa-solid.fa-angles-right.icon
          .subnav-content
            %p= link_to "Entrees", "/entree"
            %p= link_to "Second Course", "/second-course"
            %p= link_to "Salads", "/salad"
            %p= link_to "Desserts", "/dessert"
        .subnav-menu
          SORTING
          %i.fa-solid.fa-angles-right.icon
          .subnav-content
            %p Alphabetical
            %p Price Ascending
            %p Price Descending
        .subnav-menu
          VEGETARIAN
          %i.fa-solid.fa-angles-right.icon
          .subnav-content
            %p Non-Vegetarian
            %p Vegetarian
            
      .price-filter
        %p PRICE:  
        %p#min-slider
        %div#uislider
        %p#max-slider
  