= javascript_include_tag 'bar_slider'

%header.navbar.navbar-fixed-top.navbar-inverse.header-background.header-container
  .container
    = link_to image_tag("foodielogo.png", alt: "Foodie logo", width: "100"), home_path, id: "logo" 
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "HOME", home_path
        %li= link_to "ABOUT", about_path
        %li= link_to "SERVICE", service_path
        %li= link_to "BLOG", blog_path
        %li= link_to "CONTACTS", contact_path
    .center
      %h1.center Ordering Food
      .line-container
        %span.line
        %span.dot
        %span.line
      %h2
        Food for the souls
  #site-main
    .bar
      .subnav-bar
        .subnav-menu
          CATEGORY
          %i.fa-solid.fa-angles-right.icon
          .subnav-content
            %a{ href: filtered_products_path(category: 'entree') } Entrees
            %a{ href: filtered_products_path(category: 'second_course') } Second Course
            %a{ href: filtered_products_path(category: 'salad') } Salads
            %a{ href: filtered_products_path(category: 'pizza') } Pizza
            %a{ href: filtered_products_path(category: 'dessert') } Desserts
        .subnav-menu
          SORTING
          %i.fa-solid.fa-angles-right.icon
          .subnav-content
            %a{ href: sorted_products_path(order: 'ascending') } Sort by Price (Ascending)
            %a{ href: sorted_products_path(order: 'descending') } Sort by Price (Descending)
        .subnav-menu
          VEGETARIAN
          %i.fa-solid.fa-angles-right.icon
          .subnav-content
            %a{ href: filtered_products_path(vegetarian: 'non_vegetarian') } Non-Vegetarian
            %a{ href: filtered_products_path(vegetarian: 'vegetarian') } Vegetarian
      .price-filter
        %p PRICE:  
        %p#min-slider
        %div#uislider
        %p#max-slider
  