= javascript_include_tag 'bar_slider'

%header.navbar.navbar-fixed-top.navbar-inverse.header-background
  .container
    = link_to image_tag("foodielogo.png", alt: "Foodie logo", width: "100"), home_path, id: "logo" 
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "HOME", home_path
        %li= link_to "ABOUT", about_path
        %li= link_to "SERVICE", service_path
        %li= link_to "BLOG", blog_path
        %li= link_to "CONTACTS", contact_path
    .center
      %h1.center Ordering Food
      .line-container
        %span.line
        %span.dot
        %span.line
      %h2
        Food for the souls
  #site-main
    .bar
      .subnav-bar
        .subnav-menu
          CATEGORY
          %i.fa-solid.fa-angles-right.icon
          .subnav-content
            %a{ href: filtered_products_path('entree') } Entrees
            %a{ href: filtered_products_path('second_course') } Second Course
            %a{ href: filtered_products_path('salad') } Salads
            %a{ href: filtered_products_path('pizza') } Pizza
            %a{ href: filtered_products_path('dessert') } Desserts
        .subnav-menu
          SORTING
          %i.fa-solid.fa-angles-right.icon
          .subnav-content
            %p Alphabetical
            %p Price Ascending
            %p Price Descending
        .subnav-menu
          VEGETARIAN
          %i.fa-solid.fa-angles-right.icon
          .subnav-content
            %p Non-Vegetarian
            %p Vegetarian
      .price-filter
        %p PRICE:  
        %p#min-slider
        %div#uislider
        %p#max-slider
  